/* ----- Default Settings ----- */
* {
	margin:0;
	letter-spacing: 2px;
	line-height: 1.7;
}

html{
	scroll-behavior: smooth;
}

.subtitle{
	font-family: 'Noto Serif JP';
	font-size: 32px;
	font-weight: 300;
	color: black; /* blue */
	line-height: 2;
}

.subp{
	font-size: 20px;
	font-weight: 600;
}

p{
	font-family: 'Encode Sans Condensed';
	font-size: 18px;
	padding: 5px 0;
}

td{
	font-family: 'Encode Sans Condensed';
}

.minip{
	font-size: 15px;
}
/* --- End of Default Settings --- */

/* overlap main with header */
header{
	position: absolute;
	width: 100%;
	z-index: 2;

	background-color: transparent;
}

main{
	position: relative;
	top: -70px;
}
/* ----------------------- */

/* --- HEADER ---*/
.header-inner{
	margin: 0 250px 0 250px;
	padding: 20px 50px 20px 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.header-left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	width: 500px;
}

.header-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	width: 1200px;
	min-width: 560px;
}


.header-nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;	
}

.header-nav-item{
	padding: 1em;
	height: 1em;

	font-family: 'Sniglet';
	font-size: 16px;
	color: white;
	text-decoration: none;
	transition: 0.4s;	
}

.header-nav:hover .header-nav-item:not(:hover){
	color: rgb(180,180,180);
}
/* ---- END OF HEADER ---*/


/* -------------- Top Page ---------------*/
.home{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	background-image: url("assets/image/me2.jpg");
	background-size: cover;

	height: 700px;
	width: 100%;
}

.myname{
	position: relative;
	left: 15vw;
	top: 500px;
	color: white;
	height: 8em;
}

.myname h1{
	font-family: 'Playfair Display SC';
	font-size: 30px;
	line-height: 1;
}

.myname h2{
	font-family: 'Playfair Display SC';
	font-size: 50px;
	font-weight: 900;
	text-shadow: 4px 4px 4px #aaa;
	line-height: 1.2;
}

.myname p{
	font-family: 'Lobster Two';
	font-size: 18px;
	font-variant: oblique;
	margin-left: 20px;
}

/* ------- End of TOP PAGE ---------- */


/* ---------- Main Body ------------- */
/* block-content for text */
.block-content{
	margin: 10px auto;
	width: 60%;
	padding: 30px 0;
}

.about_me, .contact, .skill{
	background-color: #f5f5f5; /* light gray */

}

.about_me p{
	font-size: 23px;
	text-align: justify;
}

main section{
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 50px 0 50px 0;
}

.edu>div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.edu>div div{
	flex: 1;
}

.contact{
	padding: 30px;
}
/* ------ End of Main Body ------- */


/* -------- Others -----------*/
.footer{
	padding: 15px 20% 15px;

	font-family: : "Sniglet";
	font-size: 15px;
	color: darkgrey;

	background-color: black;
	height: 40px;
}

/* bar anim */
.bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.bar div{
 	background-color: rgba(50, 69, 209, 0.7);
 	height: 5px;
 	transition: 0.4s;
}

#cpp-probsolve 	{width: 270px}
#py-gamedev 	{width: 280px}
#algo-ds		{width: 310px}
#excel-data		{width: 370px}
#java-android	{width: 200px}
#py-probsolve	{width: 430px}
#py-webcrawl	{width: 370px}
#win			{width: 500px}

.bar div:hover{
	background-color: rgba(50, 69, 209, 1);
}


/* custom button */
.buttonbox{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.my_button{
	background-color: white;
	color: #3245d1;

	width: 200px;
	height: 50px;
	margin: 1em 1em 0 0;
	border: none;
	border-radius: 4px;
	
	font-family: 'Playfair Display SC';
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	
	transition-duration: 0.4s;
	cursor: pointer;
}

.my_button:hover{
	background-color: #d6d6d6;
	color: black;
}

/* -------------------------------- */


/* ----- For lower screen resolution ---*/
@media only screen and (max-width:1000px) {
	.myname{
		left: 50px;
	}
	.header-right{
		min-width: 450px;
	}

	.header-nav{
		justify-content: space-between;
	}

	.block-content{
		width: 80%;
	}

	.edu>div{
		display: flex;
		flex-direction: column;
	}

	.edu>div div{
		padding: 50px 0;
	}

	.footer{
		padding-left: 30px;
	}
}
/* ------------------------ */